.container {
  width: 420px;
  margin: 0 auto;
  padding: 40px 0;
  > h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
  }
}
button {
  background: #444;
  color: #fff;
  border-radius: 5px;
  padding: 8px 0;
  margin: 4px;
}
button[type='button'] {
  background: #ddd;
  color: #888;
}
form {
  width: calc(100% - 32px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  ul {
    display: flex;
    justify-content: right;
    font-size: 13px;
    margin-bottom: 8px;
    font-weight: 300;
    color: #888;
    > li {
      margin: 0 4px;
      cursor: pointer;
    }
  }
  input {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    margin: 4px 0;
  }
}
