.container {
  width: 1020px;
  margin: 0 auto;
  padding: 40px 0;
  min-height: 70vh;
  > h3 {
    font-size: 20px;
    font-weight: 600;
  }
}
.checklist {
  font-size: 13px;
  color: #888;
  display: flex;
  margin: 20px 0 0 20px;
  input[type='checkbox'] {
    margin-right: 10px;
  }
}
.cartWrapper {
  width: 100%;
  display: flex;
}
.orderList {
  width: 70%;
  padding: 10px;
}
.orderSummary {
  width: 30%;
  padding: 10px;
  > div:last-of-type {
    font-size: 13px;
    color: #888;
    font-weight: 300;
    margin-top: 10px;
    text-align: right;
  }
}
.summary {
  background: #ebebeb;
  border-radius: 5px;
  padding: 10px 10px 20px 10px;
  div {
    border-bottom: 1px solid #888;
    padding: 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    > p {
      display: inline-block;
    }
  }
}
.orderButton {
  background: #444;
  color: #fff;
  padding: 5px 0;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  margin-top: 16px;
}
.optionButton {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #888;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 8px;
}
.optionButton:not(:last-of-type) {
  margin-right: 8px;
}
